@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 120px;
    background-color: #FFB703;
}

.navContainer {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titleBox {
    margin: 0 50px;
    height: 120px;
    display: flex;
    align-items: center;
}

.title h1 {
    position: relative;
    height: auto;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 42px;
    word-spacing: 10px;
    color: #023047;
}

.navBox {
    margin-right: 50px;
}

.navList {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.navItem {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    color: #023047;
    cursor: pointer;
    text-decoration: none;
}

.navItem a {
    color: #023047;
    cursor: pointer;
    text-decoration: none;
}

.intro {
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023047;
}

.introBox {
    position: relative;
    width: auto;
}

.introBox h1 {
    font-size: 70px;
    color: #FFB703;
    font-weight: bold;
}

.introBox h3 {
    font-size: 30px;
    color: #FFB703;
    font-weight: bold;
}

.about {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #D9D9D9;
    padding-bottom: 30px;
}

.aboutBox {
    position: relative;
    width: 50%;
}

.aboutBox h1 {
    font-size: 70px;
    color: #023047;
    font-weight: bold;
    text-align: center;
}

.aboutBox p {
    color: #023047;
    font-size: 20px;
}

.skills {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    padding-bottom: 30px;
    background-color: #023047;
}

.skillsBox {
    width: 100%;
    margin: 0 140px;
}

.skillsBox h1 {
    font-size: 70px;
    color: #FFB703;
    font-weight: bold;
    text-align: center;
}

.skillsBox h3 {
    font-size: 50px;
    color: #FFB703;
    font-weight: bold;
}

.frontendItems {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    font-size: 30px;
    color: #D9D9D9;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.backendItems {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    font-size: 30px;
    color: #D9D9D9;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.otherItems {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    font-size: 30px;
    color: #D9D9D9;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.projects {
    position: relative;
    background-color: #D9D9D9;
    width: 100vw;
    height: auto;
    padding-bottom: 50px;
}

.projects h1 {
    font-size: 70px;
    color: #023047;
    font-weight: bold;
    text-align: center;
}

.projects .row {
    position: relative;
    display: flex;
    justify-content: center;
}

.projects .column {
    width: 500px;
    height: 400px;
    background-color: #023047;
    margin: 20px;
}

.projectDescription {
    position: relative;
    height: 200px;
    margin-top: 200px;
}

.projectDescription h2{
    position: relative;
    color: #FFB703;
    text-align: center;
    
}

.projectDescription p {
    font-size: 15px;
    padding: 0px 20px 10px 20px;
    text-align: left;
    color: #D9D9D9;
}

.contact {
    position: relative;
    width: 100vw;
    height: 1000px;
    justify-content: center;
    background-color: #023047;
}

.contactBox {
    margin: 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1 {
    font-size: 70px;
    color: #FFB703;
    font-weight: bold;
}

.contact form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: auto;
    background-color: #D9D9D9;
    align-items: center;
    border-radius: 20px;
}

form h2 {
    text-align: center;
    color: #0F4C75;
    margin-top: 20px;
}

form h3 {
    color: #0F4C75;
    margin: 10px 10px 5px 10px;
    font-size: 20px;
}

form input {
    width: 500px;
    margin: 0 10px;
    border: none;
    font-size: 20px;
    outline: none;
    border-radius: 30px;
    padding: 5px 20px;
    color: #0F4C75;
}

form input::placeholder {
    color: #0F4C75;
}

form textarea {
    width: 500px;
    margin: 0 10px;
    border: none;
    font-size: 20px;
    outline: none;
    border-radius: 30px;
    padding: 5px 20px;
    color: #0F4C75;
}

form textarea::placeholder {
    color: #0F4C75;
}

form button {
    margin: 30px;
    width: 150px;
    height: 40px;
    font-size: 25px;
    color: #FFB703;
    background-color: #023047;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

form button:hover {
    background-color: #FFB703;
    color: #023047;
}


